@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}

body {
  font-family: 'Tajawal', sans-serif;
}

/* RTL Support */
.rtl {
  direction: rtl;
  text-align: right;
}

.dir-rtl {
  direction: rtl;
}